@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

#logo {
  width: 256px;
  height: 79px;
  margin: 10px 0 0 2%;
}

#container {
  background-color: rgb(225, 225, 225);
  position: relative;
}
.nav-bar {
  display: flex;
  width: 90%;
  list-style: none;
  padding-bottom: 20px;
  font-size: 20px;
  justify-content: space-between;
}

.nav-links {
  margin-top: 35px;
  transition: 0.5s;
  color: black;
  display: inline-block;
}

.nav-links:hover {
  transition: 0.5s;
  font-size: 25px;
}

h1 {
  font-size: 50px;
  justify-content: center;
  color: black;
  padding: 50px;
  text-align: center;
  z-index: 0;
  position: relative;
}

#protest {
  width: 800px;
  height: 450px;
  z-index: 1;
  display: inline-block;
  position: relative;
}

#homePageDesc {
  display: inline-block;
  margin: 0 25px;
}
#page-content {
  display: flex;
  padding: 20px;
}

.goal-text {
  display: inline-block;
  font-size: 20px;
}

#goal1 {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(225, 225, 225);
  margin: 0 20px 0 0;
}

#goal2 {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(225, 225, 225);
  margin: 0 20px 0 0;
}

#goal3 {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(225, 225, 225);
}

.goal-heading {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}

.goal-button {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgb(0, 105, 0);
  border: solid lightgreen 2px;
}

.button-text {
  color: white;
}
