@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

body,
#home-page {
  /* background-color: rgb(48, 48, 48); */
  background-image: url(images/forest.png);
  background-size: cover;
  background-attachment: fixed;
}

#logo {
  width: 256px;
  height: 80px;
  margin: 10px;
}

#container {
  background-color: rgb(225, 225, 225);
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.nav-bar {
  display: flex;
  width: 90%;
  list-style: none;
  font-size: 20px;
  padding: 0 0 20px 0;
  justify-content: space-between;
  max-height: 110px;
  margin: 0 5%;
}

.nav-links {
  transition: 0.5s;
  color: black;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  margin: 20px 0 0 0;
  justify-content: space-between;
  border-radius: 10px;
}

.nav-links:hover {
  transition: 0.5s;
  background-color: rgb(200, 200, 200);
}

#hamburger {
  display: none;
}

h1 {
  font-size: 50px;
  color: rgb(0, 0, 0);
  padding: 20px 0 15px 0;
  text-align: center;
  position: relative;
  margin: 0 20px;
}

#homePageDesc {
  display: inline-block;
  margin: 0 25px;
}
#page-content {
  display: flex;
  padding: 20px;
}

.goal-text {
  display: inline-block;
  font-size: 20px;
}

.goals {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px 20px;
  border-radius: 10px;
  background-color: rgb(225, 225, 225);
  width: 33%;
  align-items: center;
  justify-content: space-between;
}

#goal1 {
  margin: 0 20px 0 0;
}

#goal2 {
  margin: 0 20px 0 0;
}

.goal-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
}

.goal-heading h3 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}

.goal-button {
  width: 50%;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #d6d3d1;
  border: solid rgb(190, 190, 190) 2px;
  float: inline-end;
}

.show-nav {
  background-color: black;
}

footer {
  background-color: rgb(225, 225, 225);
  font-size: 0.7em;
  text-align: center;
  color: #fff9e8;
  padding: 8px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

footer a:link {
  color: blue;
}
footer a:hover {
  color: #4586ba;
}

/********** CSS FOR SIGNUP.HTML **********/

/* Blurs the background */
body.body-signup::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(images/forest.png);
  background-size: cover;
  background-attachment: fixed;
  filter: blur(5px);
  z-index: -1;
  pointer-events: none;
}

.main-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: auto;
  flex: 1;
}

.container-signup {
  width: 520px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.2),
    0 6px 100px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
}

.content-signup {
  display: flex;
  flex-direction: column;
}

.image-signup {
  height: 50%;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.image-signup img {
  width: 100%;
  height: auto;
  display: block;
}

.h1-signup {
  color: black;
  text-align: center;
  font-size: 25px;
}

.p-signup {
  color: black;
  text-align: center;
}
.form-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-signup {
  padding-top: 15px;
  padding-bottom: 5px;
}

.text-signup input {
  width: calc(100% - 40px);
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
  padding: 12px 20px;
  width: 240px;
  flex: 1;
  outline: none;
}

.name-signup {
  display: flex;
  justify-content: space-between;
}

.name-signup input {
  flex: 1;
  margin-right: 5px;
}

.mail-signup input {
  width: 98.5%;
}

textarea {
  display: block;
  width: 98.5%;
  padding: 10px;
  margin-top: o;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #ccc;
  background-color: #ffffff;
  margin-bottom: 15px;
}

.button-signup {
  font-weight: 700;
  font-size: 14px;
  color: #fff9e8;
  border: 10px;
  border-style: solid;
  background-color: #b8195a;
  border-color: #b8195a;
  border-radius: 10px;
  cursor: pointer;
  padding: 3px;
  margin-bottom: 15px;
  width: 135px;
}

.p-signup2 {
  color: black;
  text-align: center;
  font-style: italic;
  font-size: 13px;
  text-align: center;
  padding-bottom: 16px;
}

/*********************/

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 24px;
  }
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  #logo {
    width: 150px;
    height: 45px;
    float: left;
  }

  .nav-links {
    padding: 10px;
    display: flex;
  }

  #page-content {
    flex-direction: column;
    justify-content: center;
    margin: 0 5%;
  }

  .goals {
    width: 100%;
    justify-content: space-around;
  }
  #goal1,
  #goal2 {
    margin: 0 0 20px 0;
  }

  .goal-text {
    font-size: 18px;
  }

  .goal-heading {
    height: 60px;
  }
  footer,
  #footer-signup {
    height: 0;
    font-size: 0;
    background-color: transparent;
  }
}

@media screen and (max-width: 670px) {
  h1 {
    font-size: 0px;
  }

  #hamburger {
    display: block;
    float: right;
    padding: 6px 8px;
    border-radius: 10px;
    margin-top: 16.5px;
    background-color: #d6d3d1;
    border: solid rgb(190, 190, 190) 2px;
  }

  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  #logo {
    float: left;
    height: max-content;
  }

  .nav-links {
    font-size: 0px;
  }

  #page-content {
    flex-direction: column;
    justify-content: center;
    margin: 0 5%;
  }

  .goals {
    width: 100%;
    justify-content: space-around;
  }
  #goal1,
  #goal2 {
    margin: 0 0 20px 0;
  }

  .goal-text {
    font-size: 24px;
  }

  .goal-heading {
    margin-top: 20px;
  }

  /********** CSS FOR SIGNUP.HTML (smaller screen) **********/
  .container-signup {
    width: 85%;
  }

  .name-signup {
    display: block;
    justify-content: space-between;
  }

  .text-signup input {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
    font-size: 16px;
    padding: 18px 15px;
  }

  textarea {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
    font-size: 16px;
    padding: 18px 15px;
  }

  .h1-signup {
    font-size: 30px;
  }
  .p-signup {
    font-size: 18px;
  }
}
