@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

body,
#home-page {
  /* background-color: rgb(48, 48, 48); */
  background-image: url(images/forest.png);
  background-size: cover;
  background-attachment: fixed;
}

#logo {
  width: 256px;
  height: 80px;
  margin: 15px 0 0 20px;
}

#container {
  background-color: rgb(225, 225, 225);
  position: relative;
}

nav {
  display: flex;
  gap: 50px;
  width: 100%;
}

.nav-bar {
  display: flex;
  width: 90%;
  list-style: none;
  font-size: 20px;
  padding: 0 0 20px 0;
  justify-content: space-between;
  max-height: 110px;
  margin: 0 5%;
}

.nav-links {
  transition: 0.5s;
  color: black;
  display: flex;
  padding: 20px;
  align-items: center;
  margin: 20px 0 0 0;
  justify-content: space-between;
  border-radius: 10px;
}

.nav-links:hover {
  transition: 0.5s;
  background-color: rgb(200, 200, 200);
}

h1 {
  font-size: 50px;
  color: rgb(255, 255, 255);
  padding: 35px 0 20px 0;
  text-align: center;
  position: relative;
  margin: 0 20px;
}

#homePageDesc {
  display: inline-block;
  margin: 0 25px;
}
#page-content {
  display: flex;
  padding: 20px;
}

.goal-text {
  display: inline-block;
  font-size: 20px;
}

.goals {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(225, 225, 225);
}

#goal1 {
  margin: 0 20px 0 0;
}

#goal2 {
  margin: 0 20px 0 0;
}

.goal-heading {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}

.goal-button {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgb(0, 105, 0);
  border: solid lightgreen 2px;
}

.button-text {
  color: white;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 24px;
  }
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .nav-links {
    padding: 10px;
    display: flex;
  }

  #page-content {
    flex-direction: column;
    justify-content: center;
    margin: 0 5%;
  }

  .goals {
    width: 100%;
    justify-content: space-around;
  }
  #goal1,
  #goal2 {
    margin: 0 0 20px 0;
  }

  .goal-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 670px) {
  h1 {
    font-size: 0px;
  }
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  #logo {
    width: 200px;
    height: 60px;
    float: left;
  }

  #nav-bar {
    justify-content: space-between;
  }

  .nav-links {
    font-size: 0px;
  }

  #page-content {
    flex-direction: column;
    justify-content: center;
    margin: 0 5%;
  }

  .goals {
    width: 100%;
    justify-content: space-around;
  }
  #goal1,
  #goal2 {
    margin: 0 0 20px 0;
  }

  .goal-text {
    font-size: 14px;
  }
}


/* CSS FOR SIGNUP.HTML */

